div.container > div{
    background-color: salmon;
    margin: 10px;
    font-size: 50px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: white;
}

.container{
    background-color: khaki;
    display: flex;
}

.container{
    height: 400px;
    flex-flow: row-reverse wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
